@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.hide-scrollbar {
  /* 隐藏水平和垂直滚动条 */
  scrollbar-width: none; /* 对于 Firefox */
  -ms-overflow-style: none; /* 对于 IE 10+ 和 Edge */

  /* 对于 Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
}
